.button-8 {
	text-decoration: none;
	color: #262626;
	font-family: sans-serif;
	font-size: 24px;
	border: 3px solid #262626;
	padding: 10px 20px;
	transition: all .5s;
	position: relative;
	overflow: hidden;
	background-color: #ffffff;
}

.button-8:before {
	content: 'Hover me';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #262626;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(5);
	opacity: 0;
	transition: all .5s;
}

.button-8:hover:before {
	transform: scale(1);
	opacity: 1;
}