.home-container {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* default for laptops */

    .grid-item {
        border: 1px solid #b9b9b95d;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1024px) { /* for tablets */
    .home-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) { /* for mobile */
    .home-container {
        grid-template-columns: repeat(2, 1fr);
    }
}