.button-4 {
	text-decoration: none;
	padding: 10px 20px;
	color: #E1332D;
	border: 3px solid #E1332D;
	font-size: 24px;
	font-family: sans-serif;
	font-weight: 300;
	letter-spacing: 0px;
	transition: all 0.5s;
  	background-color: #ffffff;
}

.button-4:hover {
	font-weight: 900;
	letter-spacing: 8px;
	border: 7px solid #E1332D;
}
